html, body {
    /*overflow: hidden;*/
}

.emdp-event-controls {
    margin:10px 0 10px 0;
}

.emdp-rating {
    display: inline-block;
    margin-left: 20px;
}

.emdp-divider {
    margin: 10px 0 10px 0;
}

.emdp-icon {
    background-repeat: no-repeat;
    background-size: 100%;
    border-collapse: collapse;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 13px;
    font-style: italic;
    line-height: 14px;
    text-align: left;
    vertical-align: text-top;
}

.emdp-icon-medium {
    height: 30px;
    width: 30px;
}

.emdp-icon-big {
    height: 40px;
    width: 40px;
}

.emdp-icon-favorite {
    background-image: url(../img/system_icons/action/res/drawable-xhdpi/ic_favorite_outline_48dp.png);
}

.emdp-icon-favorite:hover {
    background-image: url(../img/system_icons/action/res/drawable-xhdpi/ic_favorite_48dp.png);
}

.emdp-icon-comment {
    background-image: url(../img/system_icons/editor/res/2x_web/ic_mode_comment_48dp.png);
}

.emdp-icon-comment:hover {
    background-image: url(../img/system_icons/editor/res/2x_web/ic_insert_comment_48dp.png);
}

.emdp-icon-rating {
    background-image: url(../img/system_icons/toggle/res/drawable-xhdpi/ic_star_outline_48dp.png);
}

.emdp-icon-rating-on,
.emdp-icon-rating:hover {
    background-image: url(../img/system_icons/toggle/res/drawable-xhdpi/ic_star_48dp.png);
}

.emdp-card-icon {
    /* margin: 0 4px 0 4px; */
    /* float: left; */
    transform: translateX(-50%);
    position: relative;
    left: 50%;
}

.emdp-card-text {
    text-align: center;
}

.emdp-card-text-small {
    font-size: smaller;
    text-align: center;
}

.emdp-card-place {
    text-transform: uppercase;
    color: #03a9f4;
}

.emdp-subheader-calendar {
    padding:10px 0 10px 20px;
    /*font-size: 1.1em;*/
    text-transform: uppercase;
}

.emdp-subheader-calendar-icon {
    width: 20px;
    height: 20px;
    margin-right:10px;
    display: -webkit-inline-box;
}

material-whiteframe {
    background: #fff;
    margin: 20px;
    padding: 20px;
}

.emdp-body {
    overflow: hidden;
    height:100%;
}

.emdp-material-tile {
    margin:8px;
}

.emdp-cardlist-background {
    background: url(../img/patterns/6F6eAzr.png);
    overflow: hidden;
    height: 100%;
}

.emdp-cardlist {
    height: 100%;
    float: left;
    margin-bottom: 50px;
}

.emdp-profile-background {
    background: url(../img/patterns/hCrSRTN.png);
}

.emdp-material-whiteframe-content {
    /*margin-left: 20px;*/
}

.material-tile-content.emdp-material-whiteframe-content > h1 {
    /*margin-top: 0px !important;*/
}

.emdp-font-title-content {
    font-size: 1.4em;
    text-transform: uppercase;
    color: #03a9f4;
}

.emdp-material-title-content {
    font-weight: bold !important;
    font-size: 1.2em !important;
    text-transform: uppercase;
    color: #03a9f4;
}

.material-tile-content.emdp-material-whiteframe-content {
    /*padding-top: 0px;*/
}

.eventosmdp-sidenav.material-content-padding {
    padding: 0;
}

.eventosmdp-logged {
    margin-top:4px;
}

.eventosmdp-sidenav {

}

.eventosmdp-sidenav material-divider {
    margin:4px 0 4px 0;
}

.eventosmdp-search {
    color:white;
}

#eventosmdp-profile {
    float: left;
    width: 100%;
}

.eventosmdp-login-button {

}

.eventosmdp-login-inputs input {
    color:black !important;
}


.eventosmdp-btn-nav {
    width: 296px;
    margin-left: 4px;
}

material-button:not([disabled]).eventosmdp-btn-nav:hover, material-button:not([disabled]).focus.eventosmdp-btn-nav  {
    background-color: #4285f4;
    color: white;
}

.eventosmdp-btn-nav > button {
    text-align: left;
}

.eventosmdp-profile-img {
    display: inline;
    float: left;
    margin: 10px 0 0 10px;
}

.eventosmdp-profile-name {
    /* display: inline; */
    /* float:left; */
    /* margin-left:10px; */
    /* margin-top: 10px; */
    font-size: 0.8em;
    /*position: relative;
    top: 50%;
    transform: translateX(5%) translateY(100%);*/
}

.eventosmdp-sidenav-icon {
    margin: 0 10px 0 10px;
}

.eventosmdp-login-inputs {
    width: 100%;
    padding: 0 10% 0 10%;
}

.eventosmdp-login-inputs #email,
.eventosmdp-login-inputs #password {
    width: 100%;
}

.eventosmdp-login-inputs material-input-group {
    margin: 2px;
}

/**-------------------------------------------------------------------**/

.tabsLogin {
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
}

.tabsLogin .tab1 {
    /*background-color: #ea9a9e; */
    width: 100%;
    height: 100%;
}
.tabsLogin .tab2 {
    /* background-color: #65a1fc;*/
    width: 100%;
    height: 100%;
}

.tabsLogin .animate-switch-container {
    position: relative;
    background: white;
    border: 0;
    height: 300px;
    opacity: 1;
    overflow: hidden;
    width:100%;
}

.tabsLogin .animate-switch {
    -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    position: absolute;
}

.tabsLogin .animate-switch.ng-leave.ng-leave-active, .tabsLogin .animate-switch.ng-enter {
    top: -300px;
}
.tabsLogin .animate-switch.ng-leave, .tabsLogin .animate-switch.ng-enter.ng-enter-active {
    top: 0;
}

.tabsLogin .animate-switch.ng-leave {
    z-index: 100;
}

.tabsLogin div.animate-switch-container div.animate-switch {
    padding: 0 20px 0 20px;
}

.tabsLogin .title {
    color: #999999;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.tabsLogin material-tab.active {
    color: #3e50b4 !important;
}

.tabsLogin material-ink-bar {
    background: #3e50b4 !important;
}

.tabsLogin .tabs-header {
    background: #eeeeee;
}

/**-------------------------------------------------------------------**/

.eventosmdp-login-email {
    width:100%;
}

.eventosmdp-login {
    width: 100%;
}

.eventosmdp-login section {
    /*background: #f7f7f7;*/
    border-radius: 3px;
    text-align: center;
    /* margin: 1em; */
    position: relative !important;
    padding-bottom: 10px;
}

.eventosmdp-login material-content {
    margin-right: 7px;
}

.eventosmdp-login section material-button:not(.material-button-fab) {
    width: 12em;
}

.eventosmdp-login section material-button {
    display: block;
    margin: 1em;
    line-height: 25px;
}

.eventosmdp-login .label {
    position: absolute;
    bottom: 5px;
    left: 7px;
    color: #ccc;
    font-size: 14px;
}

.eventosmdp-content {
   /* height:1000px;*/
}