<material-content>
    <section ng-hide="data.users.length">
        <material-linear-progress mode="indeterminate"></material-linear-progress>
    </section>
    <material-whiteframe class="material-whiteframe-z1 emdp-userlist" layout="vertical" layout-sm="vertical">
        <material-list>
            <material-item ng-repeat="item in data.users" class="emdp-user-item">
                <material-item-content layout="vertical" layout-sm="horizontal">
                    <div class="material-tile-left">
                        <img ng-src="{{ item.pic }}" class="emdp-event-comment pic" alt="{{item.name}}">
                    </div>
                    <div class="material-tile-content">
                        <h4>{{item.name}}</h4>
                        <p style="text-align: justify;">{{item.email}}</p>
                    </div>
                    <div class="material-tile-content">
                        <h4>{{item.description}}</h4>
                    </div>
                    <section layout="horizontal">
                        <material-button
                                class="material-button-fab emdp-fab emdp-fab-enabled"
                                ng-class="{ 'emdp-fab-disabled' : !item.active }"
                                aria-label="New document"
                                ng-click="methods.toggleActive(item)">
                            <material-icon ng-show="item.active" icon="img/svg/account_wht.svg" style="width: 24px; height: 24px;"></material-icon>
                            <material-icon ng-show="!item.active" icon="img/svg/no_wht.svg" style="width: 24px; height: 24px;"></material-icon>
                            <material-tooltip>{{ item.active ? 'Deshabilitar' : 'Habilitar'}}</material-tooltip>
                        </material-button>
                        <material-button
                                class="material-button-fab emdp-fab emdp-fab-profile"
                                aria-label="New document"
                                ng-click="methods.getProfileData(item)">
                            <material-icon icon="img/svg/arrow-right_wht.svg" style="width: 24px; height: 24px;"></material-icon>
                            <material-tooltip>Ir al perfil</material-tooltip>
                        </material-button>
                    </section>
                </material-item-content>
                <material-divider class="emdp-divider" ng-hide="$last"></material-divider>
            </material-item>
        </material-list>
    </material-whiteframe>
</material-content>
