<div class="emdp-favorites" layout="vertical" flex layout-fill>
    <section ng-hide="onlyFavorites.length">
        <material-linear-progress mode="indeterminate"></material-linear-progress>
    </section>
    <material-whiteframe ng-show="favoriteWarning" class="material-whiteframe-z1" layout="vertical" layout-sm="vertical">
        <div layout="vertical" layout-sm="horizontal" layout-align="center center">
            <h2>No tenés ningún favorito!</h2>
        </div>
        </material-whiteframe>
    <material-content>
        <section ng-repeat="day in onlyFavorites | orderBy:'fecha' | filter:{ $: data.search.text }">
            <material-subheader class="material-subheader-colored emdp-subheader-calendar">
                <material-icon flex icon="img/svg/calendar.svg" class="emdp-subheader-calendar-icon"></material-icon>
                <span flex>{{ day.fecha_completa }}</span>
            </material-subheader>
            <material-list ng-class="{ 'emdp-cardlist': $last }">
                <emdp-event ng-repeat="event in day.eventos | filter: { 'favorite': true } | filter:{ $: data.search.text }"></emdp-event>
            </material-list>
        </section>
    </material-content>
</div>

