<div class="tabsLogin" layout="vertical" layout-align="center center">
    <section class="eventosmdp-login-email"
             data-ng-show="!persona.logged">
        <section class="eventosmdp-login-inputs">
            <emdp-material-input
                layout-align="center"
                fid="email"
                label="Email"
                type="email"
                value="persona.email"
                class="material-input-group-theme-light-blue material-input-group-inverted">
            </emdp-material-input>
            <emdp-material-input
                layout-align="center"
                fid="password"
                label="Contraseña"
                type="password"
                value="persona.password"
                class="material-input-group-theme-light-blue material-input-group-inverted">
            </emdp-material-input>
        </section>
        <section class="eventosmdp-login">
            <section
                class="eventosmdp-login-button"
                layout="vertical"
                layout-sm="horizontal"
                layout-align="center center">
                <material-button
                    class="material-button-raised material-button-colored"
                    data-ng-click="persona.user.login({ withFacebook: false, email: persona.email, password: persona.password })">Entrar</material-button>
                <material-button
                    class="material-button-raised material-button-colored material-theme-green"
                    data-ng-click="persona.user.register({ email: persona.email, password: persona.password })">Nuevo</material-button>
            </section>
            <section
                    class="eventosmdp-login-button"
                    layout="vertical"
                    layout-sm="horizontal"
                    layout-align="center center">
                <material-button
                        class="material-button-raised material-button-colored"
                        data-ng-click="persona.user.login({ withFacebook: true})">
                    Entrá con Facebook
                </material-button>
            </section>
        </section>
    </section>
</div>