<material-whiteframe class="material-whiteframe-z1" layout="vertical" layout-sm="horizontal">
    <div class="material-tile-left emdp-material-tile" layout-align="center center">
        <img ng-src="{{ event.RutaImagenMiniatura }}" class="face">
    </div>
    <div class="material-tile-content emdp-material-whiteframe-content">
        <h1 block-sm hide>{{ event.NombreEvento }}</h1>
        <h2 hide-sm>{{ event.NombreEvento }}</h2>
        <h2>{{ event.DescripcionEvento }}</h2>
        <br/>
        <h3>{{ event.DetalleTexto }}</h3>
        <p>{{ event.Lugar }}</p>
        <p>{{ event.DireccionEvento }}</p>
    </div>
</material-whiteframe>